.DS_Store
.git
.github
.gitignore
.idea
.python-version
.rspec
.env.sample
.rubocop.yml
.rubocop_todo.yml
.tool-versions
data/*.json
docker-compose.yml
download/**/*.pdf
download/**/*.csv
input/images/*.png
sig
spec
tsv/*.tsv
tsv/*.csv
venv
README.md
renovate.json
